Flask==1.0.3
gevent==1.4.0
gunicorn==19.9.0
keras

numpy

h5py==2.9.0
Pillow==9.0.1
scipy == 1.2.0
jsonschema==3.0.1
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.11.0-cp27-none-linux_x86_64.whl
